Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Group_Project" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Group_Project" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Item_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_Discount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Item_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Item_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Item_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Item_Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>